.productDetails {
      height: 100%;
  margin: auto;
  max-width: 100%;
  position: absolute;
  left: 20%;
  right: 10%;
  .DetailsCard {
    position: absolute;
    left: 10%;
    right: 10%;
    .title {
      max-width: 600px;
      border-radius: 5px;
      border: 1px solid rgb(229, 232, 235);
      margin: 10px;
      height: 100%;
      .name {
        font-size: 30px;
        font-weight: 600;
        max-width: 100%;
        width: 588px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
      }
      .image {
        width: auto;
        height: auto;
        border-radius: initial;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .info {
      max-width: 600px;

      border-radius: 5px;
      border: 1px solid rgb(229, 232, 235);
      margin: 10px;
    }
  
  }
}

@media only screen and (min-width: 768px) {
  .btn__buy {
    width: 50%;
  }
}
