// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
     width: 100%;
    background-color: rgb(24, 104, 183);
}